*{
    margin: 0;
    box-sizing: border-box;
}


.main_container{
    text-align: center;
    display: flex;
    flex-direction: row;
}

nav {
    background-color: #D2E7D6;

    padding: 10px;
    height: 80vh;
    width: 20vw;
}

nav ul {
    list-style: none;
    padding-left: 0;
}

nav li{
    padding: 6%;
    background-color: #E2D4F0;
    margin-top: 16%;
    margin-bottom: 16%;

}

nav a{
    text-decoration: none;
    color: white;
    font-family: "Arial Black", sans-serif;


}

#ghost_pumpkin {
    width: 30vw;
    height: 60vh;
}

header {
    text-align: center;
    padding: 2% 0 2% 0;
    background-color: #FFD1A9;
    font-family: "Arial Black", sans-serif;
    color: #2B2831;
}

main{

    background-color :#FFFFE4;
    width: 80vw;
}


@media screen and (max-width: 1000px){
    .main_container{
        display: flex;
        flex-direction: column;
    }
    nav{
        width: 100vw;
        height: 20vh;


    }
    nav ul{

        display: flex;
        flex-direction: row;
    }

    nav li{
        margin-bottom: 2%;
        margin-top: 2%;
        margin-right: 2%;
        margin-left: 2%;
        width: 20vw
    }
    main{
        width: 100vw;
    }

    #ghost_pumpkin {
        width: 30vw;
        height: 30vh;
    }
}